.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  padding: 2rem;
}

.hero img.logo-img {
  max-width: 1280px;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero h2 {
  font-size: 2.5rem;
  color: #00f0ff;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1rem;
  color: #cccccc;
  margin-bottom: 2rem;
}

.hero button {
  background: transparent;
  border: 2px solid white;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.hero button:hover {
  background: #00f0ff;
  color: black;
  border-color: #00f0ff;
}